# Application Kconfig file
#
# This is loaded when building this directory with west.
menu "Memfault Example Application Configuration"

config MEMFAULT_APP_OVERRIDE_SOFTWARE_VERSION
	string "Override default software version"
	default ""
	help
	  Set this to override the built-in software version string from the
	  VERSION file. Primarily used for building in CI.

endmenu

config MEMFAULT_BUILTIN_DEVICE_INFO_SOFTWARE_VERSION
	default MEMFAULT_APP_OVERRIDE_SOFTWARE_VERSION if MEMFAULT_APP_OVERRIDE_SOFTWARE_VERSION != ""

config MCUBOOT_IMGTOOL_SIGN_VERSION
	default MEMFAULT_APP_OVERRIDE_SOFTWARE_VERSION if MEMFAULT_APP_OVERRIDE_SOFTWARE_VERSION != ""

source "Kconfig.zephyr"

# This is a new symbol in Zephyr v4.4. To enable building on latest Zephyr,
# we need this set, but cannot set it in prj.conf if we want to maintain
# compatibility with Zephyr v4.3, so use a Kconfig override to work around the
# issue
config MBEDTLS_CIPHERSUITE_TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256
	bool "Ciphersuite TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256"
	default y
