# Application Kconfig file
#
# This is loaded when building this directory with west.
menu "Memfault Example Application Configuration"

config MEMFAULT_APP_OVERRIDE_SOFTWARE_VERSION
	string "Override default software version"
	default ""
	help
	  Set this to override the built-in software version string from the
	  VERSION file. Primarily used for building in CI.

endmenu

config MEMFAULT_BUILTIN_DEVICE_INFO_SOFTWARE_VERSION
	default MEMFAULT_APP_OVERRIDE_SOFTWARE_VERSION if MEMFAULT_APP_OVERRIDE_SOFTWARE_VERSION != ""

config MCUBOOT_IMGTOOL_SIGN_VERSION
	default MEMFAULT_APP_OVERRIDE_SOFTWARE_VERSION if MEMFAULT_APP_OVERRIDE_SOFTWARE_VERSION != ""

source "Kconfig.zephyr"

# This is a new symbol in Zephyr v4.4. To enable building on latest Zephyr,
# we need this set, but cannot set it in prj.conf if we want to maintain
# compatibility with Zephyr v4.3, so use a Kconfig override to work around the
# issue
config MBEDTLS_CIPHERSUITE_TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256
	bool "Ciphersuite TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256"
	default y

# This symbol was renamed in Zephyr v4.4. Enable both to make sure we build
# before and after v4.4
config MBEDTLS_SSL_SERVER_NAME_INDICATION
	bool "Support for RFC 6066 server name indication (SNI) in SSL"
	default y
# config MBEDTLS_SERVER_NAME_INDICATION
# 	bool "Support for RFC 6066 server name indication (SNI) in SSL"
# 	default y

# # This symbol
# config MBEDTLS_SHA1
# 	bool "SHA-1 hash algorithm"

# # This symbol was removed in Zephyr v4.4. We don't want PSA crypto.
# # Disable PSA Crypto. We are missing some key flag or feature in PSA Crypto that
# # prevents establishing a TLS connection with Memfault. Using MbedTLS built in
# # ("legacy") crypto instead, which works fine.
# # CONFIG_MBEDTLS_PSA_CRYPTO_C=y
# config MBEDTLS_USE_PSA_CRYPTO
# 	bool "Use PSA APIs instead of legacy MbedTLS when possible"
# 	default n
# 	help
# 	  Use PSA APIs instead of legacy MbedTLS functions in TLS/DTLS and other
# 	  "intermediate" modules such as PK, MD and Cipher.