/*
 * Copyright (c) 2023 Espressif Systems (Shanghai) Co., Ltd.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/led/led.h>

&wifi {
	status = "okay";
};

&coretemp {
	status = "okay";
};

/ {
	aliases {
		led-strip = &led_strip;
	};
};

/* WS2812 RGB LED on GPIO48 via SPI3 */
&spi3 {
	/* Workaround to support WS2812 driver */
	line-idle-low;

	led_strip: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";

		/* SPI */
		reg = <0>;
		spi-max-frequency = <6400000>;

		/* WS2812 */
		chain-length = <1>;
		spi-cpha;
		spi-one-frame = <0xf0>;
		spi-zero-frame = <0xc0>;
		color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
	};
};

&pinctrl {
	spim3_default: spim3_default {
		group2 {
			/* WS2812 data on GPIO48 */
			pinmux = <SPIM3_MOSI_GPIO48>;
		};
	};
};
